.header {
  width: 68.75%;
  margin: 45px auto 0;
  border-bottom: 1px solid rgb(84, 84, 84, .7);
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 42px;/*поменять*/
  }
}