.header {
  max-width: 880px;
  margin: 45px auto 0;
  border-bottom: 1px solid rgb(84, 84, 84, .7);
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .header {
    max-width: calc(100% - 19px);
    margin-top: 28px;
  }
}