.profile__container {
    display: flex;
    column-gap: 30px;
    width: 70%;
}

@media screen and (max-width: 740px) {
    .profile__container{
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 530px) {
    .profile__container{
        flex-direction: column;
        row-gap: 22.25px;
        align-items: center;
    }
}