.profile__button-add {
  width: 150px;
  min-height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}