.profile__info {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: end;
  column-gap: 18px;
  row-gap: 16px;
}

@media screen and (max-width: 530px) {
  .profile__info {
    width: 90%;
    justify-content: center;
  }
}