.profile__info {
  max-width: 336px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: end;
  column-gap: 18px;
  row-gap: 16px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    max-width: 282px;
    justify-content: center;
    column-gap: 10px;
    row-gap: 8px;
  }
}